:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 56 210 199;
  --oui-color-primary-light: 56 210 199;
  --oui-color-primary-darken: 56 210 199;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 56 210 199;
  --oui-color-link-light: 56 210 199;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 242 28 28;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 234 57 57;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 39 236 79;
  --oui-color-success-light: 101 240 194;
  --oui-color-success-darken: 0 163 19;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 36 32 47;
  --oui-color-fill-active: 40 46 58;

  --oui-color-base-1: 93 83 123;
  --oui-color-base-2: 81 72 107;
  --oui-color-base-3: 68 61 69;
  --oui-color-base-4: 57 52 74;
  --oui-color-base-5: 51 46 66;
  --oui-color-base-6: 43 38 56;
  --oui-color-base-7: 64 59 88;
  --oui-color-base-8: 29 26 38;
  --oui-color-base-9: 15 26 31;
  --oui-color-base-10: 30 38 43;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 236 24 24;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 223 38;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 56 210 199;
  --oui-gradient-primary-end: 101 240 194;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 56 210 199;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 56 210 199;
  --oui-gradient-brand-end: 56 210 199;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 0px;
  --oui-rounded: 0px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 0px;
  --oui-rounded-xl: 0px;
  --oui-rounded-2xl: 0px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}

.orderly-app-container,
.orderly-app-container *,
.orderly-app-container *::before,
.orderly-app-container *::after {
  font-family: 'Manrope', sans-serif !important;
}
